
@import "../node_modules/bootstrap/scss/bootstrap"; 

body {
    font-family: 'Lato', sans-serif;
}

$yellow:  #FFF2E6;
$green:   #559C82;
$teal:    #E0EC9E;
$orange:  #44280E;

.btn{
    background-color: $green;
    border-color: $green;
}

// Section one HOME PAGE

.img-sm{
    max-width: 250px;
}

.img-sm-1{
    max-width: 150px;
}


